<!-- Ici j'insere le component ImageComponent -->
<app-image></app-image>

<h1>Hello {{name}}</h1>
<p>Vous êtes actuellement en {{formation}}.</p>
<p>Vous financez votre formation par le biais de {{financement}}.</p>

<button (click)='decrement()'>-</button>
{{nombre}} €
<button (click)='increment()'>+</button>&nbsp;
<br><br>
<button (click)='reset()'>Remis à 0</button>
<br>
<br>
<button (click)='paid()'>Payer</button>
<p>Vous avez payé : {{prix}} €</p>
<br>
<button (click)='transfert()'>Transferer sur le solde</button>
<br><br>

<button (click)='display()'>Afficher/Masquer</button>
<p>Votre solde : <span *ngIf="isVisible">{{solde}} €</span></p>

<br>

<p *ngFor="let prenom of prenoms">
    {{prenom}}
</p>


<!-- --------------------- 

CREER UN NOUVEAU COMPONENT ImageComponent

Pourquoi ?

- Pour créer une autre partie de l'interface

- Comment ? (Ancienne méthode)

    -Créer un dossier src/app/image

        > image.component.ts
        > image.component.html
        > image.component.css

    (Nouvelle méthode)

    On va utiliser la commande :

        > ng generate component image

AFFICHER LE COMPONENT ImageComponent dans src/app/app.component.html :
-->